.stackcontianer{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.stackcontianer .stack1{
    width: 32.9vw;
    height: 70vh;
    /* background-color: black; */
}
.stackcontianer .stack1 img{
    width:100%;
    height: 100%;
}